---
import { getCollection, render } from "astro:content";
import BaseLayoutNew from "../layouts/BaseLayoutNew.astro";
import PostDate from "../components/post/PostDate.astro";
import TagChip from "../components/post/TagChip.astro";
// import ReadTime from "../components/post/ReadTime.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, description, date, tags } = post.data;
const { Content } = await render(post);
---
<!-- // This layout is used for rendering individual blog posts.// -->

<BaseLayoutNew title={title} description={description}>
  <article>
    <h1 class="mb-9 text-3xl md:text-4xl text-center">{title}</h1>

    <div class="text-lg text-gray-700 dark:text-gray-300 text-center md:text-left">{description}</div>
    
    <hr class="mb-9 border-gray-300 dark:border-gray-600 w-1/5 mx-auto" />
    
    <div class="mb-9 min-w-full format dark:format-invert">
      <Content />
    </div>
    
    <div class="mb-9">
      {tags.map((tag: string) => <TagChip tag={tag} href="#" />)}
      <PostDate date={date} />
    </div>
  </article>
</BaseLayoutNew>
