---
const base = import.meta.env.BASE_URL;

const links = [
  { href: base, label: "Home" },
  // { href: `${base}about/`, label: "About" },
  { href: `${base}photos/`, label: "Photos" },
  { href: `${base}projects/`, label: "Projects" },
];
---

<nav class="navbar">
  <div class="nav-container">
    <div class="logo">TŻ</div>

    <button class="burger" aria-label="Menu">☰</button>

    <ul class="nav-links" id="main-menu">
      {
        links.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </div>

  <!-- JS NAVBARU -->
  <script>
    import "../scripts/navbar.js";
  </script>
</nav>
