---
import TagChip from "./TagChip.astro";
import PostDate from "./PostDate.astro";
import type { CollectionEntry } from "astro:content";
import ReadTime from "./ReadTime.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { title, description, date, tags } = post.data;
const baserUrl = import.meta.env.BASE_URL;
---

<div class="mb-4 py-4 px-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700">
  <a href={`${baserUrl}/${post.id}`} class="hover:text-primary-500 hover:underline">
    <h2 class="mb-1 text-2xl font-bold tracking-tight">
      {title}
    </h2>
  </a>
  <div class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    <PostDate date={date} />
    <span class="mx-1">|</span>
    <ReadTime content={post.body!} />
  </div>
  <p class="mb-3 text-lg font-normal text-gray-700 dark:text-gray-400">
    <a href={`${baserUrl}/${post.id}`} class="hover:underline">
      {description}
    </a>
  </p>
  {tags.map((tag: string) => <TagChip tag={tag} href="#" />)}
</div>
